# Ignorar arquivos do Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Ignorar o inventário local do Ansible (contém senha)
ansible/inventory.ini
